*{
    text-align: center;
    -webkit-font-smoothing: antialiased;
    /* ^obtained online from u/chrisburton @css-tricks.com */
    color: salmon;
    margin:5px;
}   
body{
   
    background-color: azure;
}
a{
    text-decoration-line: none;
    font-size:18px;

}
header{
    
    height:110px;
    margin:auto;
    margin-bottom:none;


}
#logo{
    background-image: url("./assets/salmon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 3px black solid;

}

h1{
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

main{
    margin-top:none;
    width:63%;
    margin:auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main section{
    float:top;
}

section div{
    align-self: auto;
    float:left;
    list-style: none;
    margin:3px;
}
section div p{
    list-style: none;
    color:grey;   
}
#imageWrapper img{
    width:10%;
    position: relative;
    
}
#link{
    float: right;
}
#salesData{
    background-color: aliceblue;
    color: olivedrab;
}
td{
    color:olivedrab;
}
th{
    color:seagreen;
}

